.l5r4.pc{
  .wounds{
    display: flex;
    flex-direction: column;
  }
  .wounds-grid{
    display: grid;
    flex: 1;
    max-height: 100%;
    gap: 0.5rem;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    "wn wn wv ."
    "wm wm wmv ."
    "wmp wmp wmpv ."
    "wl wp wt wc"
      "lvl0 lvl0p lvl0t lvl0c"
      "lvl1 lvl1p lvl1t lvl1c"
      "lvl2 lvl2p lvl2t lvl2c"
      "lvl3 lvl3p lvl3t lvl3c"
      "lvl4 lvl4p lvl4t lvl4c"
      "lvl5 lvl5p lvl5t lvl5c"
      "lvl6 lvl6p lvl6t lvl6c"
      "lvl7 lvl7p lvl7t lvl7c"
    ;
  }


  .wounds-name {
    grid-area: wn;
    font-weight: bold;
  }
  .wounds-value {
    grid-area: wv;
    font-weight: bold;
  }
  .wounds-mod {
    grid-area: wm;
    font-weight: bold;
  }
  .wounds-multiplier {
    grid-area: wmp;
    font-weight: bold;
  }
  .wounds-multiplier-value {
    grid-area: wmpv;
    font-weight: bold;
  }
  .wounds-mod-value {
    grid-area: wmv;
    font-weight: bold;
  }
  .wounds-level {
    grid-area: wl;
    font-weight: bold;
  }
  .wounds-penalty {
    grid-area: wp;
    font-weight: bold;
  }
  .wounds-total {
    grid-area: wt;
    font-weight: bold;
  }
  .wounds-current {
    grid-area: wc;
    font-weight: bold;
  }
  .generate-wound-lvls(7);

  .generate-wound-lvls(@n,@i:0) when (@i =< @n){
    @lvln: "lvl@{i}";
    @lvlnp: "lvl@{i}p";
    @lvlnt: "lvl@{i}t";
    @lvlnc: "lvl@{i}c";
    .wounds-lvl-name-@{i} {
      grid-area: e(@lvln);
    }
    .wounds-lvl-penalty-@{i}{
      grid-area: e(@lvlnp);
    }
    .wounds-lvl-value-@{i}{
      grid-area: e(@lvlnt);
    }
    .wounds-lvl-current-@{i}{
      grid-area: e(@lvlnc);
    }
    .generate-wound-lvls(@n, (@i + 1));
  }

  .rate-heal{
    display: flexbox;
    align-items: center;
    text-align: center;
    width: fit-content;

  
    input {
      border: none;
      margin-bottom: 0.25em;
      flex-shrink: 7;
    }

  }
}