<div class="npc-nr-wounds">
  {{localize "l5r4.sheet.nrWoundLvls"}}
  <select name="system.nrWoundLvls">
    {{selectOptions config.npcNumberWoundLvls selected=system.nrWoundLvls localize=false}}
  </select>
</div>
<div class="npc-wounds-header">
  <div>{{localize "l5r4.traits.total"}}</div>
  <div>{{localize "l5r4.traits.penalty"}}</div>
  <div>{{localize "l5r4.traits.current"}}</div>
</div>
<div class="npc-wound-lvls">
  {{#each system.woundLvlsUsed as |wound_lvl name|}}
  <div class="npc-wound-lvl">
    <input type="number" name="system.wound_lvl.{{name}}.value" value="{{value}}" class="wounds-lvl-value-{{@index}}" />
    <input type="text" name="system.wound_lvl.{{name}}.penalty" value="{{penalty}}"
      class="wounds-lvl-penalty-{{@index}}" />
    <input type="checkbox" disabled name="system.wound_lvl.{{name}}.current" class="wounds-lvl-current-{{@index}}"
      {{checked current}} data-type="Boolean" />
  </div>
  {{/each}}
</div>