<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
  <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>
  <div class="sheet-content">
    <table>
      <tr>
        <th>{{localize "l5r4.skill.type"}}</th>
        <th>{{localize "l5r4.special.cost"}}</th>
        {{#if (eq item.system.type "ancestor")}}
        <th>{{localize "l5r4.traits.clan"}}</th>
        {{/if}}
      </tr>
      <tr>
        <td>
        <select name="system.type">
          {{selectOptions config.advantageTypes selected=item.system.type localize=true}}
        </select>
        </td>
        <td>
          <input name="system.cost" type="number" value="{{item.system.cost}}" data-type="Number" />
        </td>
        {{#if (eq item.system.type "ancestor")}}
        <td>
          <input name="system.clan" type="text" value="{{item.system.clan}}" data-type="String" />
        </td>
        {{/if}}
      </tr>
    </table>
    {{#if (eq item.system.type "ancestor")}}
    <h2>{{localize "l5r4.sheet.demands"}}</h2>
    {{editor item.system.demands target="system.demands" button=true owner=owner editable=editable}}
    {{/if}}
    <h2>{{localize "l5r4.sheet.rulesSummary"}}</h2>
    {{editor item.system.specialRules target="system.specialRules" button=true owner=owner editable=editable}}
    <h2>{{localize "l5r4.sheet.description"}}</h2>
    {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
  </div>
</form>
