<form class="{{cssClass}} limited" autocomplete="off">
  <h1 class="name">{{actor.name}}</h1>
  <div class="limited-sheet">
    <div class="limited-info">
      <div>
         <h3 class="clan">{{localize "l5r4.traits.clan"}}: {{system.clan}}</h3>
      </div>
    </div>
    <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
  </div>
</form>