<form class="{{cssClass}}" autocomplete="off">
  <div class="main-sheet">
    <div class="main-stats">
      {{log usetabs}}
      {{#if usetabs}}
      {{> "systems/l5r4/templates/partials/pc-stats-tabs.hbs"}}
      {{else}}
      {{> "systems/l5r4/templates/partials/pc-stats.hbs"}}
      {{/if}}
    </div>
    <div class="sidebar">
      <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      <div class="honor-and-combat">
        {{> "systems/l5r4/templates/partials/pc-honor-and-combat.hbs"}}
        
        <section class="wounds">
          {{> "systems/l5r4/templates/partials/pc-wounds.hbs"}}
        </section>
      </div>
    </div>
  </div>
</form>