<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
  <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>
  <div class="sheet-content tattoo">
    <h2>{{localize "l5r4.mech.effect"}}</h2>
    <textarea name="system.effect">{{item.system.effect}}</textarea>
    <h2>{{localize "l5r4.sheet.rulesSummary"}}</h2>
    {{editor item.system.specialRules target="system.specialRules" button=true owner=owner editable=editable}}
    <h2>{{localize "l5r4.sheet.description"}}</h2>
    {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
  </div>
</form>
