<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
  </header>
  <div class="sheet-content">
    <table>
      <tr>
        {{#unless item.system.shugenja}}
        <th>{{localize "l5r4.skill.rank"}}</th>
        {{/unless}}
        <th>{{localize "l5r4.sheet.shugenja"}}</th>
        {{#if item.system.shugenja}}
        <th>{{localize "l5r4.spell.affinity"}}</th>
        <th>{{localize "l5r4.spell.deficiency"}}</th>
        {{/if}}
      </tr>
      {{#unless item.system.shugenja}}
      <td>
        <input name="system.rank" type="number" value="{{item.system.rank}}" data-type="Number" />
      </td>
      {{/unless}}
      <td>
        <input type="checkbox" name="system.shugenja" {{checked item.system.shugenja}} data-type="Boolean" />
      </td>
      {{#if item.system.shugenja}}
      <td>
        <select name="system.affinity">
          {{selectOptions config.rings selected=item.system.affinity localize=true}}
        </select>
        {{log item.system.affinity}}
      </td>
      <td>
        <select name="system.deficiency">
          {{selectOptions config.rings selected=item.system.deficiency localize=true}}
        </select>
      </td>
      {{/if}}
    </table>
    <h2>{{localize "l5r4.sheet.rulesSummary"}}</h2>
    {{editor item.system.specialRules target="system.specialRules" button=true owner=owner editable=editable}}
    <h2>{{localize "l5r4.sheet.description"}}</h2>
    {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
  </div>
</form>